footer {
    padding: 10rem;
    height: 36rem;
    background-color: var(--color-primary-dark);

}

.footer {
    display: flex;
    flex-direction: column;
}

.footer > h2 {
    color: var(--color-primary-white);
    font: 36pt 'Satisfy', sans-serif;
    align-self: center;
}

.footer > ul {
    display: flex;
    align-self: center;

    align-items: center;
}

.footer > ul > li {
    margin: 2rem;
}

.footer > p {
    color: var(--color-primary-white);
    font: 16pt 'Heebo', sans-serif;
    align-self: center;
}