
header {
    padding-left: 10rem;
    padding-right: 10rem;
    height: 10rem;
    background-color: var(--color-primary-dark);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a:link, a:visited {
    color: var(--color-primary-white);
    text-decoration: none;
}

.logo {
    color: var(--color-primary-white);
    font: 49pt 'Satisfy', sans-serif;
}

.logo > u {
    text-decoration: var(--color-primary-blue) underline;
    font-size: 49pt;
}

nav {
    display: flex;
    align-items: center;
}

nav > ul {
    width: 44.0rem;

    display: flex;
    justify-content: space-evenly;
}

nav > ul > li > a {
    color: var(--color-primary-white);
    font: 16pt 'Satisfy', sans-serif;
    text-decoration: none;
} 

.log-in, .sign-up {
    margin: 0.5rem;
    padding: 1rem;
    width: 12.1rem;
    color: var(--color-primary-white);
    font: 16pt 'Satisfy', sans-serif;
    border-radius: 2.4rem;
    text-align: center;
} 

.log-in {
    background-color: var(--color-primary-blue);
}

.log-in:hover {
    background-color: var(--color-secondary-blue);
    transition-duration: 0.5s;
}

.sign-up {
    background-color: var(--color-secondary-dark);
}

.sign-up:hover {
    background-color: var(--color-third-dark);
    transition-duration: 0.5s;
}