body {
    max-width: 1440px;
    margin: auto;
    background: linear-gradient(-75.56deg, #FFF 60%, #292828 40%);
}

header {
    display: flex;
    justify-content: end;
}

nav{
    display: flex;
    margin-right: 50px;
}
nav li {
    display: flex;
    list-style: none;
}
nav li a{
    color: var(--color-primary-dark);
    margin: 20px;
    text-decoration: none;
    font-family: "Satisfy", sans-serif;
    align-self: center;
}

.logo {
    width: 150px;
    height: 100px;
    margin-right: 720px;
}

.login-and-register {
    display: flex;
    width: 140px;
    height: 65px;
    border-radius: 75px;
    background-color: var(--color-primary-gold);
    align-items: center;
    justify-content: center;
}

.whats-icon img, .insta-icon {
    width: 48px;
    height: 48px;
}

main {
    display: flex;
    height: 900px;

}

.main-content {
    width: 400px;
    height: 400px;
    margin-top: 120px;
    margin-left: 80px;
    color: var(--color-primary-white);
    font-family: "Satisfy";
    font-size: 60px;
}

.main-content p {
    font-size: 100%;
}


button {
    font-family: "Satisfy", sans-serif;
    font-size: 50%;
    background-color: var(--color-primary-gold);
    width: 70%;
    height: 25%;
    border: none;
    border-radius: 72px;
    margin-top: 20%;
}

button a {
    text-decoration: none;
    color: var(--color-primary-dark);
}

.main-img img{
    width: 65%;
    height: 65%;
    margin-left: 60%;
    margin-top: 3%;
}

.main-content u {
   text-decoration: underline #d3a76e;
}