:root {
    --color-primary-white: #fff;
    --color-secondary-white: #757373;
    --color-primary-gold: #D3A76E;
    --color-primary-dark: #000;
    --color-secondary-dark: #292828;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}